<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hiro.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:name=".DBController.Userdata">
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StatuschangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ConfigurationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfirmationresultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductregistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RankingSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".RankingResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        >
        <activity
            android:name=".ProductReview2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ProductreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".GoodsSearchResult" />
        <activity android:name=".CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

    </application>

</manifest>